# macOS system files
.DS_Store

# Ignore heavy/raw files
*.tsv
*.json
*.csv
*.xlsx
*.vcf
*.vcf.gz
*.tbi
*.png

# Ignore generated HTML reports
Results/Plots/Ancestry_Plots/*.html
Results/Plots/Allele_Length_Boxplots/*.html
Results/Plots/Tandem_Repeats_Plots/*.html

# Ignore contents of Data and Results by default
Data/**
Results/**

# BUT keep placeholders so structure shows on GitHub
!Data/README.md
!Results/README.md
!Code/**
