# macOS system files
.DS_Store

# Ignore heavy/raw files
*.tsv
*.json
*.csv
*.xlsx
*.vcf
*.vcf.gz
*.tbi
*.png
# *.html

# Ignore contents of Data, Results, and the config.py by default
Data/**
Results/**
config.py

# Keep placeholders so structure shows on GitHub
!Data/README.md
!Results/README.md
